# Credentials
MONGO_DATABASE=TestOnLocal
MONGO_ROOT_USER=devroot
MONGO_ROOT_PASSWORD=devroot

MONGOEXPRESS_USER=dev
MONGOEXPRESS_PASSWORD=dev

# Ports
# DB
EXTERNAL_MONGO_PORT=<YOUR-MONGO-HOST-PORT>
MONGO_PORT=27017
# MONGO-EXPRESS
EXTERNAL_EXPRESS_PORT=<YOUR-EXPRESS-HOST-PORT>

# 
# STARTER
# 
EXTERNAL_PORT=<YOUR-HOST-PORT>
PORT=3005
BACKEND_BASE_URL=http://127.0.0.1:${EXTERNAL_PORT}

# Connect from the starter to the mongo service
MONGO_NAME=TestOnLocal
MONGO_URI=mongodb://mongo:27017

# LOGGER
SIMPLE_LOGGER_LEVEL=http

# # AUTH module
SESSION_SECRET=<YOUR-SECRET>
SESSION_SAVE_UNINITIALIZED=false
SESSION_RESAVE=false
SESSION_NAME=<YOUR-SESSION-NAME>
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_HTTP_ONLY=true
COOKIE_MAX_AGE=3600000
# # COOKIE_DOMAIN=good-share.co.il

# EMAILER
# the root domain where the user will have to click a link
# to finish the reset password process:
CLIENT_URL=https://thefrontendurlhastobedefinedhere.com
# Mailer
SMTP_USERNAME=<YOUR-EMAIL-FOR-RECEIVE>
SMTP_PASSWORD=<YOUR-PASSWORD-FOR-THE-EMAIL>
