# Credentials
# DB
DB_USER=postgres
DB_PASSWORD=test1234
# PGADMIN
UI_USER=pgadmin4@pgadmin.org
UI_PASSWORD=admin

EXTERNAL_ADMIN_PORT=4001

# STARTER
# 
EXTERNAL_PORT=3005
PORT=${EXTERNAL_PORT}
BACKEND_BASE_URL=http://127.0.0.1:${EXTERNAL_PORT}

# Docker image architecture and version
# aarch64, x64
IMAGE_ARCH=x64
IMAGE_VER=1.0.5

# LOGGER
SIMPLE_LOGGER_LEVEL=http

# DB
POSTGRES_PORT=5432
POSTGRES_URI=postgres://postgres:test1234@pgsql:${POSTGRES_PORT}

# # AUTH module
SESSION_SECRET=<YOUR-SECRET>
SESSION_SAVE_UNINITIALIZED=false
SESSION_RESAVE=false
SESSION_NAME=<YOUR-SESSION-NAME>
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
COOKIE_HTTP_ONLY=true
COOKIE_MAX_AGE=3600000
# # COOKIE_DOMAIN=good-share.co.il

# Local Strategy email, username, phone
LOGIN_FIELD_NAME=username

# ACL, RBAC
AUTHORIZATION_MODEL_TYPE=ACL
TEST=true #false

# EMAILER
# the root domain where the user will have to click a link
# to finish the reset password process:
CLIENT_URL=https://thefrontendurlhastobedefinedhere.com
# Mailer
SMTP_USERNAME=<YOUR-EMAIL-FOR-RECEIVE>
SMTP_PASSWORD=<YOUR-PASSWORD-FOR-THE-EMAIL>
